*
{
  margin:0px;
  padding:0px;
}
body
{
   position :relative;
   background-color: white;
   border:10px solid rgb(27, 26, 26);
}
#pic
{
   width : 100%;
   border-bottom: 2px dotted grey;
}
h3
{
   font-family :  -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
   font-style:italic;
   font-size : 30px;
   text-align : center;
   color:rgb(2, 2, 18);
}
div
{
  display : block;
  margin-left : auto;
  margin-right : auto;
  border:2px solid grey;
  padding: 13px;
  display:block;
  width:600px;
  height:500px;
  position:sticky;
  top:0px;
  font-family:'Courier New', Courier, monospace;
  line-height: 2em;
  margin-top: 0px;
  margin-bottom:20px;
  font-weight:bold;
  color:rgb(32, 30, 30);
}
dt
{
    font-weight :bold;
    color : grey;
}
.odd
{
  background-color:white;
}
.even
{
  background-color:#fff;
}

/* my content is overflowing out of the box;is flex a soln?? for element positioning??
ig i need some k owledge of animation effects and right sense of margining and spacing..*/